# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Project Specific
cache/
*.log
backend_debug*.log
debug_output*.txt
